## Editors and Development environments
*~
*.swp
*.bak*
*.orig
# Vim
*.vim
# Kate
.*.kate-swp
.swp.*
# KDevelop4
.kdev4/
*.kdev4
# Eclipse (CDT and LDT)
.project
.cproject
.settings/
.buildpath
.metadata
# GNU Global
tags
!tags/
gtags.files
.idea/*
.cache

## Files related to minetest development cycle
/*.patch
# GNU Patch reject file
*.rej

## Non-static Minetest directories or symlinks to these
/bin/
/games/*
!/games/minimal/
/cache
/textures/*
!/textures/base/
/screenshots
/sounds
/mods/*
/screenshots/
!/mods/minetest/
/mods/minetest/*
!/mods/minetest/mods_here.txt
/worlds
/world/

## Configuration/log files
freeminer.conf
auto_*
util/autotest/logs.*
util/autotest/auto.json
util/autotest/world
debug.txt
client/favoriteservers.json
client/servers_public.json

## Doxygen files
doc/Doxyfile
doc/html/
doc/doxygen_*

## Build files
CMakeFiles
Makefile
!build/android/Makefile
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
src/android_version.h
src/android_version_githash.h
src/cmake_config.h
src/cmake_config_githash.h
src/lua/build/
locale/
.directory
*.cbp
*.layout
*.o
_build
*.a
*.ninja
.ninja*

## Android build files
build/android/src/main/assets
build/android/build
build/android/deps
build/android/libs
build/android/jni/src
build/android/src/main/jniLibs
build/android/obj
build/android/local.properties
build/android/.gradle

build/android_fm/assets
build/android_fm/AndroidManifest.xml
build/android_fm/bin
build/android_fm/cmake
build/android_fm/deps*
build/android_fm/libs
build/android_fm/jni/src
build/android_fm/src/main/jniLibs
build/android_fm/obj
build/android_fm/project.properties
build/android_fm/gen
build/android_fm/path.cfg

timestamp

