language: cpp

cache: ccache

compiler:
  - gcc
  - clang

os:
  - linux
  - osx

matrix:
  fast_finish: true

addons:
  apt:
    sources:
      # NOTE gcc-4.9 breaks clang
      - ubuntu-toolchain-r-test    # for gcc-4.8
      - llvm-toolchain-precise-3.7 # for clang
    packages:
      - clang
      - cmake
      - doxygen
      - g++-4.8
      - gcc-4.8
      - libirrlicht-dev
      - libleveldb-dev
      - libogg-dev
      - libopenal-dev
      - libsnappy-dev
      - libsqlite3-dev
      - libvorbis-dev
      - libxxf86vm-dev
      - llvm-3.7

before_install:
  - if [ $CC = 'gcc' ]; then
      export CC='gcc-4.8';
      export CXX='g++-4.8';
      export LINK='gcc-4.8';
      export LINKXX='g++-4.8';
    else
      export CC="clang";
      export CXX="clang++";
    fi
  - if [ $TRAVIS_OS_NAME == 'osx' ]; then
      brew update;
      brew install gettext irrlicht libogg;
    else
      export PATH="/usr/lib/ccache/:$PATH";
      ccache -s;
    fi
  - mkdir -p _build
  - cd _build

script:
  - if [ $TRAVIS_OS_NAME == "linux" ]; then
    cmake -DRUN_IN_PLACE=0 -DENABLE_GETTEXT=1 ..;
      sudo make -j3 install;
      freeminer --go -video_driver=null -enable_sound=0 -enable_clouds=0 -enable_fog=0 -autojump=1 -respawn_auto=1 -disable_anticheat=1 -random_input=1 -continuous_forward=1 --address '' --autoexit 15;
    else
      cmake .. -DGETTEXT_LIBRARY=/usr/local/opt/gettext/lib/libgettextlib.dylib -DGETTEXT_INCLUDE_DIR=/usr/local/opt/gettext/include;
      make -j3 package;
    fi

notifications:
  email: false
