#server_list table {
	max-width: 100%;
	width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: small;
}

#server_list td, #server_list th {
	border: 1px solid gray;
}

tr:hover {
	background-color: #f0f0f0;
}

.mts_hover_list {
	display: none;
	border: gray solid 1px;
	position: absolute;
	z-index: 100;
	background-color: white;
	padding: 0.5em;
}

td:hover .mts_hover_list {
	display: block;
}

.mts_hover_list_text, .mts_tooltip {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.clickable {
	text-decoration: underline;
	cursor: pointer;
}
